ddx/ccic-salesapp-noncar/src/main/java/com/ccic/salesapp/noncar/outService/esb/entBaseInfoInquiry/EntBaseInfoInquiry.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="EntBaseInfoInquiryService"
                  targetNamespace="http://service.ccic.com/ecif/entbaseinfoinquiry/intf"
                  xmlns:ns1="http://service.ccic.com/ecif/entbaseinfoinquiry/bean"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://service.ccic.com/ecif/entbaseinfoinquiry/intf"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://service.ccic.com/ecif/entbaseinfoinquiry/bean" xmlns:ns1="http://service.ccic.com/common/bean" xmlns:tns="http://service.ccic.com/ecif/entbaseinfoinquiry/bean" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://service.ccic.com/common/bean"/>
<xs:element name="EntBaseInfoInquiryRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="requestHead" type="ns1:RequestHeadDTO"/>
<xs:element name="requestBody" type="tns:EntBaseInfoInquiryRequestDTO"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="EntBaseInfoInquiryResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="responseHead" type="ns1:ResponseHeadDTO"/>
<xs:element minOccurs="0" name="responseBody" type="tns:EntBaseInfoInquiryResponseDTO"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="requestBody" type="tns:EntBaseInfoInquiryRequestDTO"/>
<xs:element name="requestHead" type="ns1:RequestHeadDTO"/>
<xs:element name="responseBody" type="tns:EntBaseInfoInquiryResponseDTO"/>
<xs:element name="responseHead" type="ns1:ResponseHeadDTO"/>
<xs:complexType name="EntBaseInfoInquiryRequestDTO">
<xs:sequence>
<xs:element name="custNo" type="xs:long"/>
<xs:element name="role" type="xs:string"/>
<xs:element minOccurs="0" name="comCode" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="EntBaseInfoInquiryResponseDTO">
<xs:sequence>
<xs:element minOccurs="0" name="entCustBaseInfo" type="tns:EntCustBaseInfoDTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="EntCustBaseInfoDTO">
<xs:sequence>
<xs:element minOccurs="0" name="custNo" type="xs:long"/>
<xs:element minOccurs="0" name="custName" type="xs:string"/>
<xs:element minOccurs="0" name="parentCustNo" type="xs:long"/>
<xs:element minOccurs="0" name="rootCustNo" type="xs:long"/>
<xs:element minOccurs="0" name="comCode" type="xs:string"/>
<xs:element minOccurs="0" name="region" type="xs:string"/>
<xs:element minOccurs="0" name="identifyNumber" type="xs:string"/>
<xs:element minOccurs="0" name="creditLevel" type="xs:string"/>
<xs:element minOccurs="0" name="linkerName" type="xs:string"/>
<xs:element minOccurs="0" name="phoneNumber" type="xs:string"/>
<xs:element minOccurs="0" name="postAddress" type="xs:string"/>
<xs:element minOccurs="0" name="bank" type="xs:string"/>
<xs:element minOccurs="0" name="account" type="xs:string"/>
<xs:element minOccurs="0" name="accountName" type="xs:string"/>
<xs:element minOccurs="0" name="bankCode" type="xs:string"/>
<xs:element minOccurs="0" name="leaderCustNo" type="xs:long"/>
<xs:element minOccurs="0" name="leaderName" type="xs:string"/>
<xs:element minOccurs="0" name="leaderId" type="xs:string"/>
<xs:element minOccurs="0" name="businessCode" type="xs:string"/>
<xs:element minOccurs="0" name="revenueRegistNo" type="xs:string"/>
<xs:element minOccurs="0" name="empCount" type="xs:string"/>
<xs:element minOccurs="0" name="regDate" type="xs:date"/>
<xs:element minOccurs="0" name="insuredStatus" type="xs:string"/>
<xs:element minOccurs="0" name="insuredStatusChgDate" type="xs:date"/>
<xs:element minOccurs="0" name="renewalStartDate" type="xs:date"/>
<xs:element minOccurs="0" name="lastDueDate" type="xs:date"/>
<xs:element minOccurs="0" name="delFlag" type="xs:string"/>
<xs:element minOccurs="0" name="custRecordDate" type="xs:date"/>
<xs:element minOccurs="0" name="custEndDate" type="xs:date"/>
</xs:sequence>
</xs:complexType>
</xs:schema><xs:schema elementFormDefault="qualified" targetNamespace="http://service.ccic.com/common/bean" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="RequestHeadDTO">
<xs:sequence>
<xs:element minOccurs="0" name="seqNo" type="xs:string"/>
<xs:element minOccurs="0" name="consumerSeqNo" type="xs:string"/>
<xs:element name="consumerID" type="xs:string"/>
<xs:element minOccurs="0" name="providerID" type="xs:string"/>
<xs:element minOccurs="0" name="classCode" type="xs:string"/>
<xs:element minOccurs="0" name="riskCode" type="xs:string"/>
<xs:element minOccurs="0" name="regionCode" type="xs:string"/>
<xs:element minOccurs="0" name="version" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ResponseHeadDTO">
<xs:sequence>
<xs:element minOccurs="0" name="seqNo" type="xs:string"/>
<xs:element minOccurs="0" name="consumerSeqNo" type="xs:string"/>
<xs:element minOccurs="0" name="providerSeqNo" type="xs:string"/>
<xs:element name="status" type="xs:int"/>
<xs:element minOccurs="0" name="esbCode" type="xs:string"/>
<xs:element minOccurs="0" name="esbMessage" type="xs:string"/>
<xs:element minOccurs="0" name="appCode" type="xs:string"/>
<xs:element minOccurs="0" name="appMessage" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>  </wsdl:types>
  <wsdl:message name="processResponse">
    <wsdl:part element="ns1:EntBaseInfoInquiryResponse" name="EntBaseInfoInquiryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="process">
    <wsdl:part element="ns1:EntBaseInfoInquiryRequest" name="EntBaseInfoInquiryRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EntBaseInfoInquiry">
    <wsdl:operation name="process">
      <wsdl:input message="tns:process" name="process">
    </wsdl:input>
      <wsdl:output message="tns:processResponse" name="processResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EntBaseInfoInquiryServiceSoapBinding" type="tns:EntBaseInfoInquiry">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="process">
      <soap:operation soapAction="/ecif/entbaseinfoinquiry" style="document"/>
      <wsdl:input name="process">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="processResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EntBaseInfoInquiryService">
    <wsdl:port binding="tns:EntBaseInfoInquiryServiceSoapBinding" name="EntBaseInfoInquiryEndpoint">
      <soap:address location="http://10.1.13.183:7001/ecif/services/EntBaseInfoInquiry"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>